body {
  font-family: 'Helvetica Light', 'Arial';
  background-color: #E6E6E6;
  color: #4F36F5;
  font-size: 16px;
}


h1 {
  background-color: black;
  color: white;
  padding: 10px 10px 30px 20px;
  font-weight: lighter;
}

h2 {
  color: #4F3697;
  padding: 0px 10px 30px 10px;
  font-weight: lighter;
}

canvas {
  border: solid 0.5px;
  width: 500px;
}

#borderSize{
  font-size: 14px;
  padding: 0px 0px 0px 10px;
}